*{
    margin: 0%;
    padding: 0%;
   
}
.nav{
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-left: 90px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    

}
.nav a{
    margin: 10px;
    margin-left: 1000PX;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}
/* h2{
    margin-left: 100px;
    padding: 40px;
    font-size: 70px;
} */
section {
    justify-items: center;
    padding: 40px;
    font-size: 30px;
    padding: 90px;
    margin: 90px;
    font-style: italic;
    /* background-color:black;
    color: azure; */
    border-radius: 10px;
}
section :hover{
    
}
/* .project img{
    margin-left: 100px;
    border-radius: 10px;
    height: 500px;
}
.project{
   display: flex;
   display: flex;
}
.p-1 {
    
    font-style: italic;
    font-size: 20px;
padding: 30px;
margin: 30px;
gap:30px   
}
.project h4{
    font-style: italic;
    font-size: 50px;
    margin-left: 100px;
   padding: 10px;
}
.hotel img{
     margin-left: 700px;
    border-radius: 10px;
    height: 500px;
}
.hotel{
    display: flex;
}
.hotel-1 p{
    height: 40px;
    width: 380px;
    margin-left: 100px;
    padding-top: 10px;
    font-size: 25px;
    
}
.hotel-1 h5{
    margin-left: 100px;
    padding: 20px;
    font-size: 30px;
}
.hotel-1{
    height: 40px;
    width: 380px;
    margin-right: 100px;
  
    font-size: 25px;
}
.cars{
    display: flex;
}
.cars h5{
    font-style: italic;
    font-size: 50px;
    margin-left: 250px;
    padding: 30px; 
}
.cars-1 {
    font-style: italic;
    font-size: 20px;
padding: 20px;
margin: 0px;
gap:20px
   
}
.cars img{
   width:600px ;
   height: 400px;
   margin: 20px;
   padding: 20px;
  border-radius: 10px;
} */


@media (max-width: 600px) {
    .nav {
      flex-direction: column;
      padding: 10px 20px;
    }
    .nav a {
        margin: 10px 0;
        font-size: 16px;
      }
    }
 @media (max-width:600px) {
    .contenier-1{
     width: 200px;
     height: 420px;
     margin-left: 100px;
    
    }
 }
 @media (max-width:600px) {
    .profile{
        width: 200px;
        height: 200px;
        
    }
 } 
 @media (max-width: 600px) {
   
    .profile img {
        height: 150px; /* Adjust height for smaller screens */
        margin-left: 150px ; /* Center the image horizontally */
        display: block; /* Make it block level for centering */
        padding: 15px; /* Adjust padding for smaller screens */
    }

    /* For the cp image */
    .cp img {
        height: 250px; /* Adjust height for smaller screens */
        margin: 0 auto; /* Center the image horizontally */
        display: block; /* Make it block level for centering */
    }
}
@media (max-width:600px) {
    section{
        margin-top: 250px;
    }
}