@font-face {
  font-family: "Angelos";
  src: url("Assets/Fonts/Angelos.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #151515;
}
::-webkit-scrollbar-thumb {
  background: #db2d2e;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Header */
.header {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) 25%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

.header video {
  position: absolute;
  z-index: -1;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(1, 1, 1, 0.3);
  backdrop-filter: blur(10px);
  color: #fff;
  border-radius: 50px;
  padding: 10px 30px;
}
.navbar .logo {
  font-size: 2rem;
  font-family: "Angelos";
}

/* $$$ */
body:before {
  content: "";
  position: absolute;
  opacity: 0.3;
  pointer-events: none;
}

nav {
  position: relative;
}

nav ul {
  margin: 0;
  padding-left: 11rem;
  list-style: none;
  display: flex;
  gap: 4rem;
}

nav ul li button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  transition: color 0.25s;
}

nav ul li.active button {
  color: #db2d2e;
}

nav ul li:not(.active):hover button {
  color: #807e8c;
}

nav .active-element {
  --active-element-scale-x: 1;
  --active-element-scale-y: 1;
  --active-element-show: 0;
  --active-element-opacity: 0;
  --active-element-width: 0px;
  --active-element-strike-x: 0%;
  --active-element-mask-position: 0%;
  position: absolute;
  left: 0;
  top: 34px;
  height: 3px;
  width: 36px;
  border-radius: 2px;
  background-color: #fff;
  opacity: var(--active-element-show);
}

nav .active-element > svg,
nav .active-element .strike {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: var(--active-element-opacity);
  width: var(--active-element-width);
  mix-blend-mode: multiply;
}

nav .active-element > svg {
  display: block;
  overflow: visible;
  height: 5px;
  filter: blur(0.5px) drop-shadow(2px 0px 8px rgba(104, 6, 6, 0.4))
    drop-shadow(1px 0px 2px rgb(192, 19, 19))
    drop-shadow(0px 0px 3px rgb(186, 1, 1))
    drop-shadow(2px 0px 8px rgb(189, 10, 10))
    drop-shadow(8px 0px 16px rgb(213, 47, 47));
}

nav .active-element .strike {
  padding: 24px 0;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent calc(0% + var(--active-element-mask-position)),
    black calc(15% + var(--active-element-mask-position)),
    black 80%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent calc(0% + var(--active-element-mask-position)),
    black calc(15% + var(--active-element-mask-position)),
    black 80%,
    transparent
  );
}

nav .active-element .strike svg {
  display: block;
  overflow: visible;
  height: 12px;
  width: calc(var(--active-element-width) * 2);
  transform: translate(var(--active-element-strike-x), 30%)
    scale(var(--active-element-scale-x), var(--active-element-scale-y));
}

nav .active-element .strike svg:last-child {
  transform: translate(var(--active-element-strike-x), -30%) scale(-1);
}

nav .active-element .strike svg g path:nth-child(2) {
  filter: blur(2px);
}

nav .active-element .strike svg g path:nth-child(3) {
  filter: blur(4px);
}

/* $$$ */

.search-container {
  width: 470px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
}
/* Seeach */
.header .navbar .search {
  display: inline-flex;
  align-items: center;
  color: #fff;
  padding: 5px;
  border-radius: 50px;
  border: 2px solid #db2d2e;
}
.search:is(input, button) {
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
}
.search-input {
  width: 0;
  transition: width 0.5s;
  outline: none;
}
.searchbutton {
  display: grid;
  place-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: color 0.25s;
}
.searchbutton:hover {
  color: #e3e3e3;
}
.search:focus-within input {
  width: 200px;
}

::placeholder {
  font: inherit;
  color: #e3e3e3;
}
.location img {
  width: 40px;
}
.profile {
  display: flex;
  align-items: center;
}
.profile img {
  width: 45px;
}
.profile:hover {
  content: "Login/Register";
  position: relative;
}

.profile:hover::after {
  content: "Login/Register";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 0.9rem;
  margin-top: 5px;
}
/* Search End */
/* Navbar End */
/* Hero Text */
.hero-text {
  padding-left: 50px;
  padding-top: 70px;
}
.hero-text h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 80px;
}
.hero-text span {
  color: #db2d2e;
}
.hero-text p {
  font-size: 1.4rem;
}
/* Hero Text End*/

/* catlog */
@import url("https://fonts.googleapis.com/css2?family=Roboto");

.box {
  padding: 80px 50px;
}
.container {
  display: flex;
  width: 80vh;
  font-family: "Roboto", sans-serif;
  gap: 10px;
}
.panel {
  flex: 0.5;
  height: 38vh;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.7s cubic-bezier(0.47, 0.64, 0.41, 0.8);
}
.panel h3 {
  font-size: 24px;
  opacity: 0;
  position: absolute;
  top: 79%;
  left: 16%;
}
.icon {
  position: absolute;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  bottom: 20px;
  left: 8px;
  margin: 0;
}

.panel.active {
  flex: 3;
  & h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
}
/* catlog End */
/* Header End */

/* Filter */
.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
}
.filter-container .filter {
  width: 70%;
  background-color: #151515;
  padding: 20px 0px;
  border-radius: 15px;
}
.filter-title {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}
.filter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0px;
}
.filter-box__item select {
  background-color: #151511;
  color: #fff;
  outline: none;
  border: none;
}
.filter-box__item button {
  background-color: #db2d2e;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
/* Filter End */

/* collage */
.collage-container {
  display: grid;
  height: 100vh;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 5px;
}
/* .collage {
} */
.item-1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background-image: url("Assets/Images/clg1.jpg");
  background-size: cover;
  background-position: center;
}
.item-2 {
  grid-row: 1/3;
  grid-column: 2/5;
  background-image: url("Assets/Images/clg_2.jpg");
  background-size: cover;
  background-position: center;
}
.item-3 {
  grid-row: 1/2;
  background-image: url("Assets/Images/clg_5.jpg");
  background-size: cover;
  background-position: center;
}
.item-4 {
  grid-row: 2/4;
  background-image: url("Assets/Images/clg_4.jpg");
  background-size: cover;
}
.item-5 {
  background-image: url("Assets/Images/clg_6.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/4;
  /* grid-row: 2/3; */
}
.item-6 {
  /* grid-row: 2/3; */
  background-image: url("Assets/Images/clg_3.jpg");
  background-size: cover;
  background-position: center;
}
/* collage End */

/* Footer */
.footer {
  /* background-color: red; */
  padding: 20px 0px;
  text-align: center;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 10px;
}
.footer-content {
  /* border: solid 1px #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.footer-content h1 {
  font-family: "angelos";
  color: #db2d2e;
  font-size: 1.5rem;
}
.footer-content__social {
  display: flex;
  gap: 20px;
  font-size: 1.3rem;
}
.footer-content h3 {
  font-size: 1.5rem;
  color: #db2d2e;
  font-weight: 600;
}
.footer p {
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer a {
  color: #fff;
  text-decoration: none;
  transition: all 0.25s;
}
.footer a:hover {
  color: #db2d2e;
  font-weight: 600;
  scale: 1.1;
}
.footer-bottom {
  border-top: 1px solid #fff;
  padding: 5px 0;
}
.footer-bottom p {
  font-size: 0.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Footer End */
